flows-4.json
[
    {
        "id": "6fa74c9bdb682220",
        "type": "tab",
        "label": "Flux 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a49cab8afa0983bf",
        "type": "inject",
        "z": "6fa74c9bdb682220",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 190,
        "y": 400,
        "wires": [
            [
                "1de2eaafa1734c24",
                "6c5e1a2ea4655bbc"
            ]
        ]
    },
    {
        "id": "1de2eaafa1734c24",
        "type": "moment",
        "z": "6fa74c9bdb682220",
        "name": "",
        "topic": "",
        "input": "",
        "inputType": "msg",
        "inTz": "Europe/Paris",
        "adjAmount": 0,
        "adjType": "days",
        "adjDir": "add",
        "format": "kk:mm:ss",
        "locale": "fr",
        "output": "",
        "outputType": "msg",
        "outTz": "Europe/Paris",
        "x": 480,
        "y": 340,
        "wires": [
            [
                "66d9bcb2d74ae4fe"
            ]
        ]
    },
    {
        "id": "66d9bcb2d74ae4fe",
        "type": "ui_text",
        "z": "6fa74c9bdb682220",
        "group": "5ec611c2a78e54e4",
        "order": 3,
        "width": 12,
        "height": 3,
        "name": "",
        "label": "",
        "format": "<font color=yellow>{{msg.payload}}",
        "layout": "row-center",
        "className": "horloge",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 770,
        "y": 340,
        "wires": []
    },
    {
        "id": "6c5e1a2ea4655bbc",
        "type": "moment",
        "z": "6fa74c9bdb682220",
        "name": "",
        "topic": "",
        "input": "",
        "inputType": "msg",
        "inTz": "Europe/Paris",
        "adjAmount": 0,
        "adjType": "days",
        "adjDir": "add",
        "format": "dddd D MMMM YYYY",
        "locale": "fr",
        "output": "",
        "outputType": "msg",
        "outTz": "Europe/Paris",
        "x": 480,
        "y": 440,
        "wires": [
            [
                "813ab0522609a1a0"
            ]
        ]
    },
    {
        "id": "813ab0522609a1a0",
        "type": "ui_text",
        "z": "6fa74c9bdb682220",
        "group": "5ec611c2a78e54e4",
        "order": 2,
        "width": 8,
        "height": 1,
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "date",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 770,
        "y": 440,
        "wires": []
    },
    {
        "id": "c25282f3efa72c37",
        "type": "ui_template",
        "z": "6fa74c9bdb682220",
        "group": "5ec611c2a78e54e4",
        "name": "Horloge",
        "order": 4,
        "width": 0,
        "height": 0,
        "format": "<style>\n    .horloge {\n        font-size:7em;\n    }\n\n    .date {\n        font-size:2em;\n    }\n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "horloge",
        "x": 460,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "71baa29f0390cf08",
        "type": "inject",
        "z": "6fa74c9bdb682220",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 700,
        "wires": [
            [
                "f9433df595fd848d"
            ]
        ]
    },
    {
        "id": "f9433df595fd848d",
        "type": "openweathermap",
        "z": "6fa74c9bdb682220",
        "name": "Clichy",
        "wtype": "current",
        "lon": "",
        "lat": "",
        "city": "Clichy",
        "country": "France",
        "language": "fr",
        "x": 370,
        "y": 700,
        "wires": [
            [
                "903e9848f5b960a8",
                "32e8e04a6dc22bc2",
                "22635b54c3f2303e",
                "8d885d177695612b",
                "237d6b5e3a987ab3",
                "648c2b2cf6c51f31"
            ]
        ]
    },
    {
        "id": "903e9848f5b960a8",
        "type": "change",
        "z": "6fa74c9bdb682220",
        "name": "Change",
        "rules": [
            {
                "t": "move",
                "p": "payload.tempc",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 700,
        "wires": [
            [
                "4e54b69ef7860464"
            ]
        ]
    },
    {
        "id": "32e8e04a6dc22bc2",
        "type": "change",
        "z": "6fa74c9bdb682220",
        "name": "Change",
        "rules": [
            {
                "t": "move",
                "p": "payload.humidity",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 780,
        "wires": [
            [
                "a9c74e721c5efe44"
            ]
        ]
    },
    {
        "id": "4e54b69ef7860464",
        "type": "ui_gauge",
        "z": "6fa74c9bdb682220",
        "name": "",
        "group": "5ec611c2a78e54e4",
        "order": 5,
        "width": 4,
        "height": 3,
        "gtype": "gage",
        "title": "temperature",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 770,
        "y": 620,
        "wires": []
    },
    {
        "id": "a9c74e721c5efe44",
        "type": "ui_gauge",
        "z": "6fa74c9bdb682220",
        "name": "",
        "group": "5ec611c2a78e54e4",
        "order": 6,
        "width": 4,
        "height": 3,
        "gtype": "gage",
        "title": "Humidité",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 780,
        "y": 780,
        "wires": []
    },
    {
        "id": "600fe2be88873eaa",
        "type": "ui_gauge",
        "z": "6fa74c9bdb682220",
        "name": "",
        "group": "5ec611c2a78e54e4",
        "order": 7,
        "width": 4,
        "height": 3,
        "gtype": "gage",
        "title": "Pression",
        "label": "hPa",
        "format": "{{value}}",
        "min": "950",
        "max": "1050",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 780,
        "y": 880,
        "wires": []
    },
    {
        "id": "22635b54c3f2303e",
        "type": "change",
        "z": "6fa74c9bdb682220",
        "name": "Change",
        "rules": [
            {
                "t": "move",
                "p": "payload.pressure",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 880,
        "wires": [
            [
                "600fe2be88873eaa"
            ]
        ]
    },
    {
        "id": "8d885d177695612b",
        "type": "change",
        "z": "6fa74c9bdb682220",
        "name": "Change",
        "rules": [
            {
                "t": "move",
                "p": "payload.location",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 960,
        "wires": [
            [
                "25bf514b7411d216"
            ]
        ]
    },
    {
        "id": "25bf514b7411d216",
        "type": "ui_text",
        "z": "6fa74c9bdb682220",
        "group": "5ec611c2a78e54e4",
        "order": 1,
        "width": 4,
        "height": 1,
        "name": "",
        "label": "",
        "format": "<font color=green>{{msg.payload}}",
        "layout": "row-left",
        "className": "date",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 790,
        "y": 960,
        "wires": []
    },
    {
        "id": "237d6b5e3a987ab3",
        "type": "change",
        "z": "6fa74c9bdb682220",
        "name": "Change",
        "rules": [
            {
                "t": "move",
                "p": "payload.detail",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 1040,
        "wires": [
            [
                "0ad26d0b80d2c291"
            ]
        ]
    },
    {
        "id": "0ad26d0b80d2c291",
        "type": "ui_text",
        "z": "6fa74c9bdb682220",
        "group": "5ec611c2a78e54e4",
        "order": 8,
        "width": 12,
        "height": 1,
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "date",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 710,
        "y": 1040,
        "wires": []
    },
    {
        "id": "039ebb4f93d543c7",
        "type": "debug",
        "z": "6fa74c9bdb682220",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 920,
        "y": 1200,
        "wires": []
    },
    {
        "id": "648c2b2cf6c51f31",
        "type": "function",
        "z": "6fa74c9bdb682220",
        "name": "function 1",
        "func": "if (msg.payload.sunrise) {\n    // Convertissez le timestamp en millisecondes\n    msg.payload.sunrise = msg.payload.sunrise * 1000;\n}\nif (msg.payload.sunset) {\n    // Convertissez le timestamp en millisecondes\n    msg.payload.sunset = msg.payload.sunset * 1000;\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 1200,
        "wires": [
            [
                "81d67ec58be50da1",
                "d07e63a6afc1a0b8"
            ]
        ]
    },
    {
        "id": "76013649c760285a",
        "type": "moment",
        "z": "6fa74c9bdb682220",
        "name": "",
        "topic": "",
        "input": "",
        "inputType": "msg",
        "inTz": "Europe/Paris",
        "adjAmount": 0,
        "adjType": "days",
        "adjDir": "add",
        "format": "kk:mm",
        "locale": "fr",
        "output": "",
        "outputType": "msg",
        "outTz": "Europe/Paris",
        "x": 700,
        "y": 1200,
        "wires": [
            [
                "039ebb4f93d543c7"
            ]
        ]
    },
    {
        "id": "81d67ec58be50da1",
        "type": "change",
        "z": "6fa74c9bdb682220",
        "name": "Change",
        "rules": [
            {
                "t": "move",
                "p": "payload.sunrise",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 1300,
        "wires": [
            [
                "76013649c760285a"
            ]
        ]
    },
    {
        "id": "d07e63a6afc1a0b8",
        "type": "change",
        "z": "6fa74c9bdb682220",
        "name": "Change",
        "rules": [
            {
                "t": "move",
                "p": "payload.sunset",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 1380,
        "wires": [
            [
                "fbc445e95171a1b7"
            ]
        ]
    },
    {
        "id": "fbc445e95171a1b7",
        "type": "moment",
        "z": "6fa74c9bdb682220",
        "name": "",
        "topic": "",
        "input": "",
        "inputType": "msg",
        "inTz": "Europe/Paris",
        "adjAmount": 0,
        "adjType": "days",
        "adjDir": "add",
        "format": "kk:mm",
        "locale": "fr",
        "output": "",
        "outputType": "msg",
        "outTz": "Europe/Paris",
        "x": 740,
        "y": 1380,
        "wires": [
            [
                "58da680b419d4305"
            ]
        ]
    },
    {
        "id": "58da680b419d4305",
        "type": "debug",
        "z": "6fa74c9bdb682220",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1000,
        "y": 1380,
        "wires": []
    },
    {
        "id": "5ec611c2a78e54e4",
        "type": "ui_group",
        "name": "Météo",
        "tab": "038fa0e610273a97",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "038fa0e610273a97",
        "type": "ui_tab",
        "name": "Horloge",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]