flows(1).json
[
    {
        "id": "344bf37e217f6f3f",
        "type": "tab",
        "label": "Flux 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "6ea126c6d2972499",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "cfc2398d505d9da8",
        "type": "ui_tab",
        "name": "WEATHER  STATION",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "6eef2fa4fc784c48",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "affa5bc206c4af74",
        "type": "ui_group",
        "name": "TEMPERATURE",
        "tab": "cfc2398d505d9da8",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "7e35653a6ba8c29a",
        "type": "inject",
        "z": "344bf37e217f6f3f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "test",
        "payloadType": "str",
        "x": 250,
        "y": 260,
        "wires": [
            [
                "660f8b4eec4a75ab"
            ]
        ]
    },
    {
        "id": "660f8b4eec4a75ab",
        "type": "debug",
        "z": "344bf37e217f6f3f",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 260,
        "wires": []
    },
    {
        "id": "6a635c1c23d89b70",
        "type": "inject",
        "z": "344bf37e217f6f3f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "hello world",
        "payloadType": "str",
        "x": 260,
        "y": 80,
        "wires": [
            [
                "d9e3eddf38aaf43a"
            ]
        ]
    },
    {
        "id": "f27a0f6f170f5c83",
        "type": "mqtt in",
        "z": "344bf37e217f6f3f",
        "name": "",
        "topic": "/test",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "6ea126c6d2972499",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 250,
        "y": 160,
        "wires": [
            [
                "16e1c9b77b589ec5"
            ]
        ]
    },
    {
        "id": "d9e3eddf38aaf43a",
        "type": "mqtt out",
        "z": "344bf37e217f6f3f",
        "name": "",
        "topic": "/test",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6ea126c6d2972499",
        "x": 630,
        "y": 80,
        "wires": []
    },
    {
        "id": "16e1c9b77b589ec5",
        "type": "debug",
        "z": "344bf37e217f6f3f",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 650,
        "y": 160,
        "wires": []
    },
    {
        "id": "f48e8bafaf3cd57b",
        "type": "inject",
        "z": "344bf37e217f6f3f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 250,
        "y": 380,
        "wires": [
            [
                "beeb596d1c03d385"
            ]
        ]
    },
    {
        "id": "beeb596d1c03d385",
        "type": "http request",
        "z": "344bf37e217f6f3f",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://138.197.188.172:3000/api/dayPrecipitation",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 510,
        "y": 380,
        "wires": [
            [
                "687ea91e7a72ab9c",
                "e08c5f2eda083051"
            ]
        ]
    },
    {
        "id": "1f80a5ccb0df1fc2",
        "type": "debug",
        "z": "344bf37e217f6f3f",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.data.results.TEMP_REEL",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1040,
        "y": 440,
        "wires": []
    },
    {
        "id": "687ea91e7a72ab9c",
        "type": "json",
        "z": "344bf37e217f6f3f",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 670,
        "y": 560,
        "wires": [
            [
                "1f80a5ccb0df1fc2",
                "bd6755b3048020ef",
                "538edd4a432171a8"
            ]
        ]
    },
    {
        "id": "bd6755b3048020ef",
        "type": "ui_text",
        "z": "344bf37e217f6f3f",
        "group": "affa5bc206c4af74",
        "order": 0,
        "width": "6",
        "height": "2",
        "name": "",
        "label": "Temp",
        "format": "{{msg.payload.data.results.TEMP_REEL}}",
        "layout": "col-center",
        "className": "",
        "style": true,
        "font": "Arial,Arial,Helvetica,sans-serif",
        "fontSize": "30",
        "color": "#000000",
        "x": 1050,
        "y": 640,
        "wires": []
    },
    {
        "id": "538edd4a432171a8",
        "type": "ui_text",
        "z": "344bf37e217f6f3f",
        "group": "affa5bc206c4af74",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Hum",
        "format": "{{msg.payload.data.results.HUMIDITY}}",
        "layout": "col-center",
        "className": "",
        "style": true,
        "font": "Arial,Arial,Helvetica,sans-serif",
        "fontSize": "32",
        "color": "#000000",
        "x": 1050,
        "y": 720,
        "wires": []
    },
    {
        "id": "e08c5f2eda083051",
        "type": "debug",
        "z": "344bf37e217f6f3f",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1040,
        "y": 340,
        "wires": []
    }
]